<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 187.9 kB/s eta 0:00:32
     ---------------------------------------- 0.0/6.0 MB 196.9 kB/s eta 0:00:31
     ---------------------------------------- 0.1/6.0 MB 273.8 kB/s eta 0:00:22
      --------------------------------------- 0.1/6.0 MB 386.4 kB/s eta 0:00:16
      --------------------------------------- 0.1/6.0 MB 426.7 kB/s eta 0:00:14
     - -------------------------------------- 0.2/6.0 MB 456.4 kB/s eta 0:00:13
     - -------------------------------------- 0.2/6.0 MB 510.8 kB/s eta 0:00:12
     - -------------------------------------- 0.3/6.0 MB 525.1 kB/s eta 0:00:11
     - -------------------------------------- 0.3/6.0 MB 536.9 kB/s eta 0:00:11
     -- ------------------------------------- 0.3/6.0 MB 581.4 kB/s eta 0:00:10
     -- ------------------------------------- 0.4/6.0 MB 587.1 kB/s eta 0:00:10
     -- ------------------------------------- 0.4/6.0 MB 592.0 kB/s eta 0:00:10
     -- ------------------------------------- 0.4/6.0 MB 596.2 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 599.9 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 617.5 kB/s eta 0:00:09
     --- ------------------------------------ 0.5/6.0 MB 619.5 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 632.8 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 622.9 kB/s eta 0:00:09
     ---- ----------------------------------- 0.6/6.0 MB 624.4 kB/s eta 0:00:09
     ---- ----------------------------------- 0.7/6.0 MB 635.7 kB/s eta 0:00:09
     ---- ----------------------------------- 0.7/6.0 MB 646.0 kB/s eta 0:00:09
     ---- ----------------------------------- 0.7/6.0 MB 646.3 kB/s eta 0:00:09
     ----- ---------------------------------- 0.8/6.0 MB 646.6 kB/s eta 0:00:09
     ----- ---------------------------------- 0.8/6.0 MB 646.9 kB/s eta 0:00:09
     ----- ---------------------------------- 0.8/6.0 MB 655.4 kB/s eta 0:00:08
     ----- ---------------------------------- 0.9/6.0 MB 655.8 kB/s eta 0:00:08
     ----- ---------------------------------- 0.9/6.0 MB 655.7 kB/s eta 0:00:08
     ------ --------------------------------- 0.9/6.0 MB 655.7 kB/s eta 0:00:08
     ------ --------------------------------- 1.0/6.0 MB 663.0 kB/s eta 0:00:08
     ------ --------------------------------- 1.0/6.0 MB 662.4 kB/s eta 0:00:08
     ------ --------------------------------- 1.0/6.0 MB 669.1 kB/s eta 0:00:08
     ------- -------------------------------- 1.1/6.0 MB 668.7 kB/s eta 0:00:08
     ------- -------------------------------- 1.1/6.0 MB 668.2 kB/s eta 0:00:08
     ------- -------------------------------- 1.1/6.0 MB 667.8 kB/s eta 0:00:08
     ------- -------------------------------- 1.2/6.0 MB 673.4 kB/s eta 0:00:08
     ------- -------------------------------- 1.2/6.0 MB 672.9 kB/s eta 0:00:08
     -------- ------------------------------- 1.2/6.0 MB 673.0 kB/s eta 0:00:08
     -------- ------------------------------- 1.2/6.0 MB 678.1 kB/s eta 0:00:07
     -------- ------------------------------- 1.3/6.0 MB 677.2 kB/s eta 0:00:07
     -------- ------------------------------- 1.3/6.0 MB 682.3 kB/s eta 0:00:07
     --------- ------------------------------ 1.4/6.0 MB 681.6 kB/s eta 0:00:07
     --------- ------------------------------ 1.4/6.0 MB 681.0 kB/s eta 0:00:07
     --------- ------------------------------ 1.4/6.0 MB 680.3 kB/s eta 0:00:07
     --------- ------------------------------ 1.4/6.0 MB 679.8 kB/s eta 0:00:07
     --------- ------------------------------ 1.5/6.0 MB 683.9 kB/s eta 0:00:07
     ---------- ----------------------------- 1.5/6.0 MB 688.3 kB/s eta 0:00:07
     ---------- ----------------------------- 1.5/6.0 MB 687.6 kB/s eta 0:00:07
     ---------- ----------------------------- 1.6/6.0 MB 682.1 kB/s eta 0:00:07
     ---------- ----------------------------- 1.6/6.0 MB 690.5 kB/s eta 0:00:07
     ----------- ---------------------------- 1.7/6.0 MB 689.8 kB/s eta 0:00:07
     ----------- ---------------------------- 1.7/6.0 MB 689.1 kB/s eta 0:00:07
     ----------- ---------------------------- 1.7/6.0 MB 692.6 kB/s eta 0:00:07
     ----------- ---------------------------- 1.8/6.0 MB 691.8 kB/s eta 0:00:07
     ------------ --------------------------- 1.8/6.0 MB 691.1 kB/s eta 0:00:07
     ------------ --------------------------- 1.8/6.0 MB 690.5 kB/s eta 0:00:07
     ------------ --------------------------- 1.9/6.0 MB 694.0 kB/s eta 0:00:06
     ------------ --------------------------- 1.9/6.0 MB 697.1 kB/s eta 0:00:06
     ------------ --------------------------- 1.9/6.0 MB 696.3 kB/s eta 0:00:06
     ------------- -------------------------- 2.0/6.0 MB 695.9 kB/s eta 0:00:06
     ------------- -------------------------- 2.0/6.0 MB 695.2 kB/s eta 0:00:06
     ------------- -------------------------- 2.0/6.0 MB 694.5 kB/s eta 0:00:06
     ------------- -------------------------- 2.1/6.0 MB 697.3 kB/s eta 0:00:06
     -------------- ------------------------- 2.1/6.0 MB 696.6 kB/s eta 0:00:06
     -------------- ------------------------- 2.1/6.0 MB 699.6 kB/s eta 0:00:06
     -------------- ------------------------- 2.2/6.0 MB 698.9 kB/s eta 0:00:06
     -------------- ------------------------- 2.2/6.0 MB 694.6 kB/s eta 0:00:06
     -------------- ------------------------- 2.2/6.0 MB 700.8 kB/s eta 0:00:06
     --------------- ------------------------ 2.3/6.0 MB 700.1 kB/s eta 0:00:06
     --------------- ------------------------ 2.3/6.0 MB 702.5 kB/s eta 0:00:06
     --------------- ------------------------ 2.3/6.0 MB 701.8 kB/s eta 0:00:06
     --------------- ------------------------ 2.4/6.0 MB 701.2 kB/s eta 0:00:06
     ---------------- ----------------------- 2.4/6.0 MB 700.5 kB/s eta 0:00:06
     ---------------- ----------------------- 2.4/6.0 MB 699.9 kB/s eta 0:00:06
     ---------------- ----------------------- 2.5/6.0 MB 702.5 kB/s eta 0:00:05
     ---------------- ----------------------- 2.5/6.0 MB 704.7 kB/s eta 0:00:05
     ---------------- ----------------------- 2.5/6.0 MB 704.0 kB/s eta 0:00:05
     ----------------- ---------------------- 2.6/6.0 MB 703.4 kB/s eta 0:00:05
     ----------------- ---------------------- 2.6/6.0 MB 702.9 kB/s eta 0:00:05
     ----------------- ---------------------- 2.6/6.0 MB 702.3 kB/s eta 0:00:05
     ----------------- ---------------------- 2.7/6.0 MB 704.4 kB/s eta 0:00:05
     ----------------- ---------------------- 2.7/6.0 MB 701.1 kB/s eta 0:00:05
     ------------------ --------------------- 2.7/6.0 MB 706.1 kB/s eta 0:00:05
     ------------------ --------------------- 2.8/6.0 MB 705.5 kB/s eta 0:00:05
     ------------------ --------------------- 2.8/6.0 MB 704.9 kB/s eta 0:00:05
     ------------------ --------------------- 2.8/6.0 MB 706.8 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 706.2 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 705.6 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 705.0 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 707.1 kB/s eta 0:00:05
     ------------------- -------------------- 3.0/6.0 MB 706.5 kB/s eta 0:00:05
     -------------------- ------------------- 3.0/6.0 MB 706.0 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 707.9 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 707.3 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 706.8 kB/s eta 0:00:05
     --------------------- ------------------ 3.1/6.0 MB 708.8 kB/s eta 0:00:04
     --------------------- ------------------ 3.2/6.0 MB 708.2 kB/s eta 0:00:04
     --------------------- ------------------ 3.2/6.0 MB 707.6 kB/s eta 0:00:04
     --------------------- ------------------ 3.2/6.0 MB 709.3 kB/s eta 0:00:04
     --------------------- ------------------ 3.3/6.0 MB 708.7 kB/s eta 0:00:04
     ---------------------- ----------------- 3.3/6.0 MB 708.2 kB/s eta 0:00:04
     ---------------------- ----------------- 3.3/6.0 MB 707.6 kB/s eta 0:00:04
     ---------------------- ----------------- 3.4/6.0 MB 707.3 kB/s eta 0:00:04
     ---------------------- ----------------- 3.4/6.0 MB 708.9 kB/s eta 0:00:04
     ---------------------- ----------------- 3.4/6.0 MB 706.2 kB/s eta 0:00:04
     ----------------------- ---------------- 3.5/6.0 MB 707.9 kB/s eta 0:00:04
     ----------------------- ---------------- 3.5/6.0 MB 709.6 kB/s eta 0:00:04
     ----------------------- ---------------- 3.5/6.0 MB 709.0 kB/s eta 0:00:04
     ----------------------- ---------------- 3.6/6.0 MB 708.5 kB/s eta 0:00:04
     ------------------------ --------------- 3.6/6.0 MB 708.0 kB/s eta 0:00:04
     ------------------------ --------------- 3.6/6.0 MB 705.3 kB/s eta 0:00:04
     ------------------------ --------------- 3.7/6.0 MB 707.0 kB/s eta 0:00:04
     ------------------------ --------------- 3.7/6.0 MB 706.5 kB/s eta 0:00:04
     ------------------------ --------------- 3.7/6.0 MB 706.0 kB/s eta 0:00:04
     ------------------------- -------------- 3.8/6.0 MB 707.7 kB/s eta 0:00:04
     ------------------------- -------------- 3.8/6.0 MB 705.1 kB/s eta 0:00:04
     ------------------------- -------------- 3.8/6.0 MB 706.8 kB/s eta 0:00:04
     ------------------------- -------------- 3.8/6.0 MB 702.3 kB/s eta 0:00:04
     -------------------------- ------------- 3.9/6.0 MB 703.7 kB/s eta 0:00:03
     -------------------------- ------------- 3.9/6.0 MB 703.5 kB/s eta 0:00:03
     -------------------------- ------------- 3.9/6.0 MB 703.0 kB/s eta 0:00:03
     -------------------------- ------------- 4.0/6.0 MB 702.6 kB/s eta 0:00:03
     -------------------------- ------------- 4.0/6.0 MB 702.4 kB/s eta 0:00:03
     --------------------------- ------------ 4.0/6.0 MB 701.8 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 701.6 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 701.2 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 700.8 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 700.5 kB/s eta 0:00:03
     ---------------------------- ----------- 4.2/6.0 MB 700.1 kB/s eta 0:00:03
     ---------------------------- ----------- 4.2/6.0 MB 701.4 kB/s eta 0:00:03
     ---------------------------- ----------- 4.3/6.0 MB 701.0 kB/s eta 0:00:03
     ---------------------------- ----------- 4.3/6.0 MB 700.7 kB/s eta 0:00:03
     ----------------------------- ---------- 4.3/6.0 MB 701.9 kB/s eta 0:00:03
     ----------------------------- ---------- 4.4/6.0 MB 701.5 kB/s eta 0:00:03
     ----------------------------- ---------- 4.4/6.0 MB 701.2 kB/s eta 0:00:03
     ----------------------------- ---------- 4.4/6.0 MB 701.0 kB/s eta 0:00:03
     ----------------------------- ---------- 4.5/6.0 MB 700.6 kB/s eta 0:00:03
     ------------------------------ --------- 4.5/6.0 MB 701.9 kB/s eta 0:00:03
     ------------------------------ --------- 4.5/6.0 MB 701.4 kB/s eta 0:00:03
     ------------------------------ --------- 4.6/6.0 MB 702.6 kB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 700.9 kB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 700.5 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 701.7 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 701.5 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 701.2 kB/s eta 0:00:02
     ------------------------------- -------- 4.8/6.0 MB 702.4 kB/s eta 0:00:02
     -------------------------------- ------- 4.8/6.0 MB 700.5 kB/s eta 0:00:02
     -------------------------------- ------- 4.8/6.0 MB 703.3 kB/s eta 0:00:02
     -------------------------------- ------- 4.8/6.0 MB 701.5 kB/s eta 0:00:02
     -------------------------------- ------- 4.9/6.0 MB 701.0 kB/s eta 0:00:02
     -------------------------------- ------- 4.9/6.0 MB 700.7 kB/s eta 0:00:02
     --------------------------------- ------ 4.9/6.0 MB 700.5 kB/s eta 0:00:02
     --------------------------------- ------ 5.0/6.0 MB 701.7 kB/s eta 0:00:02
     --------------------------------- ------ 5.0/6.0 MB 701.4 kB/s eta 0:00:02
     --------------------------------- ------ 5.0/6.0 MB 702.7 kB/s eta 0:00:02
     --------------------------------- ------ 5.1/6.0 MB 700.9 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 700.6 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 701.8 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 700.1 kB/s eta 0:00:02
     ---------------------------------- ----- 5.2/6.0 MB 699.8 kB/s eta 0:00:02
     ---------------------------------- ----- 5.2/6.0 MB 701.0 kB/s eta 0:00:02
     ----------------------------------- ---- 5.2/6.0 MB 700.7 kB/s eta 0:00:02
     ----------------------------------- ---- 5.3/6.0 MB 700.4 kB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 700.1 kB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 699.8 kB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 700.9 kB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 700.5 kB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 700.3 kB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 700.1 kB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 701.2 kB/s eta 0:00:01
     ------------------------------------- -- 5.5/6.0 MB 700.8 kB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 700.4 kB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 700.3 kB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 700.0 kB/s eta 0:00:01
     ------------------------------------- -- 5.7/6.0 MB 699.7 kB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 700.7 kB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 700.4 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 701.6 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 698.8 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 696.1 kB/s eta 0:00:01
     ---------------------------------------  5.8/6.0 MB 695.8 kB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 695.6 kB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 696.5 kB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 696.3 kB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 696.2 kB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 696.2 kB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 696.2 kB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 686.9 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142949 sha256=708feb63938d34f3c1cd0eb74ad0f500af910d260fa0b77a0e4d6290229642fb
  Stored in directory: c:\users\kevin\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython-sql) (8.23.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.29-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: six in c:\users\kevin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kevin\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: decorator in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.2)
Requirement already satisfied: colorama in c:\users\kevin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\kevin\appdata\roaming\python\python312\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kevin\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\kevin\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.29-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.3 MB/s eta 0:00:02
    --------------------------------------- 0.0/2.1 MB 653.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/2.1 MB 655.4 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/2.1 MB 717.5 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 756.6 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 692.9 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 687.0 kB/s eta 0:00:03
   ---- ----------------------------------- 0.3/2.1 MB 682.7 kB/s eta 0:00:03
   ----- ---------------------------------- 0.3/2.1 MB 679.3 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/2.1 MB 700.8 kB/s eta 0:00:03
   ------ --------------------------------- 0.4/2.1 MB 696.3 kB/s eta 0:00:03
   ------- -------------------------------- 0.4/2.1 MB 692.6 kB/s eta 0:00:03
   -------- ------------------------------- 0.4/2.1 MB 689.6 kB/s eta 0:00:03
   -------- ------------------------------- 0.5/2.1 MB 704.5 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 684.7 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 682.7 kB/s eta 0:00:03
   ---------- ----------------------------- 0.6/2.1 MB 694.0 kB/s eta 0:00:03
   ----------- ---------------------------- 0.6/2.1 MB 691.6 kB/s eta 0:00:03
   ------------ --------------------------- 0.6/2.1 MB 701.1 kB/s eta 0:00:03
   ------------ --------------------------- 0.7/2.1 MB 698.7 kB/s eta 0:00:03
   ------------- -------------------------- 0.7/2.1 MB 697.5 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 694.6 kB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 702.9 kB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 700.0 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.1 MB 698.2 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/2.1 MB 688.8 kB/s eta 0:00:02
   ----------------- ---------------------- 0.9/2.1 MB 695.6 kB/s eta 0:00:02
   ----------------- ---------------------- 0.9/2.1 MB 678.5 kB/s eta 0:00:02
   ------------------ --------------------- 0.9/2.1 MB 677.7 kB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.1 MB 684.1 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 683.6 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 682.7 kB/s eta 0:00:02
   -------------------- ------------------- 1.1/2.1 MB 681.8 kB/s eta 0:00:02
   -------------------- ------------------- 1.1/2.1 MB 674.5 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 673.9 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 673.9 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 666.9 kB/s eta 0:00:02
   ----------------------- ---------------- 1.2/2.1 MB 655.2 kB/s eta 0:00:02
   ----------------------- ---------------- 1.2/2.1 MB 655.1 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 655.2 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 645.1 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 645.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 635.7 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 640.9 kB/s eta 0:00:02
   --------------------------- ------------ 1.4/2.1 MB 641.2 kB/s eta 0:00:02
   --------------------------- ------------ 1.4/2.1 MB 637.2 kB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 628.6 kB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 633.1 kB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 633.8 kB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 638.4 kB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 634.6 kB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 639.0 kB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 639.5 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 639.5 kB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 639.8 kB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 644.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 644.2 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 640.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 640.9 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 641.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 634.3 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 638.1 kB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 638.3 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 638.8 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 639.0 kB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 639.2 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 642.6 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 638.0 kB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
   ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
   --------- ------------------------------ 10.2/41.2 kB ? eta -:--:--
   ---------------------------------------- 41.2/41.2 kB 672.7 kB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/293.6 kB 640.0 kB/s eta 0:00:01
   ----- --------------------------------- 41.0/293.6 kB 653.6 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/293.6 kB 651.6 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/293.6 kB 652.2 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/293.6 kB 652.5 kB/s eta 0:00:01
   --------------------- ---------------- 163.8/293.6 kB 701.4 kB/s eta 0:00:01
   ---------------------- --------------- 174.1/293.6 kB 615.9 kB/s eta 0:00:01
   ------------------------- ------------ 194.6/293.6 kB 560.2 kB/s eta 0:00:01
   -------------------------- ----------- 204.8/293.6 kB 497.6 kB/s eta 0:00:01
   -------------------------- ----------- 204.8/293.6 kB 497.6 kB/s eta 0:00:01
   ----------------------------- -------- 225.3/293.6 kB 458.5 kB/s eta 0:00:01
   ------------------------------- ------ 245.8/293.6 kB 471.0 kB/s eta 0:00:01
   -------------------------------------  286.7/293.6 kB 477.5 kB/s eta 0:00:01
   -------------------------------------- 293.6/293.6 kB 477.1 kB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-3.0.3 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.29 sqlparse-0.4.4

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [32 lines of output]
      <string>:19: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
      <string>:45: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
      Traceback (most recent call last):
        File "C:\Users\kevin\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 353, in <module>
          main()
        File "C:\Users\kevin\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\kevin\AppData\Local\Programs\Python\Python312\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
                 ^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\kevin\AppData\Local\Temp\pip-build-env-hcjh3ka9\overlay\Lib\site-packages\setuptools\build_meta.py", line 325, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\kevin\AppData\Local\Temp\pip-build-env-hcjh3ka9\overlay\Lib\site-packages\setuptools\build_meta.py", line 295, in _get_build_requires
          self.run_setup()
        File "C:\Users\kevin\AppData\Local\Temp\pip-build-env-hcjh3ka9\overlay\Lib\site-packages\setuptools\build_meta.py", line 487, in run_setup
          super().run_setup(setup_script=setup_script)
        File "C:\Users\kevin\AppData\Local\Temp\pip-build-env-hcjh3ka9\overlay\Lib\site-packages\setuptools\build_meta.py", line 311, in run_setup
          exec(code, locals())
        File "<string>", line 793, in <module>
        File "<string>", line 760, in setup_package
        File "C:\Users\kevin\AppData\Local\Temp\pip-install-oyukob1g\pandas_f3e2f0165b37470187b00158f335f405\versioneer.py", line 1439, in get_version
          return get_versions()["version"]
                 ^^^^^^^^^^^^^^
        File "C:\Users\kevin\AppData\Local\Temp\pip-install-oyukob1g\pandas_f3e2f0165b37470187b00158f335f405\versioneer.py", line 1368, in get_versions
          cfg = get_config_from_root(root)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "C:\Users\kevin\AppData\Local\Temp\pip-install-oyukob1g\pandas_f3e2f0165b37470187b00158f335f405\versioneer.py", line 400, in get_config_from_root
          parser = configparser.SafeConfigParser()
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      AttributeError: module 'configparser' has no attribute 'SafeConfigParser'. Did you mean: 'RawConfigParser'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [8]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTBL # Aquí utilizo DISTINCT, para que me muestre sin repetir

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
%sql SELECT *  FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [30]:
%sql Select Customer, sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer LIKE 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

In [29]:
%%sql SELECT Customer, SUM(PAYLOAD_MASS__KG_) as 'Total Payload Mass(Kgs)'
FROM SPACEXTBL
WHERE Customer LIKE 'NASA%'
GROUP BY Customer;

 * sqlite:///my_data1.db
Done.

[('NASA (CCD) ', 12055),
 ('NASA (CCDev)', 12530),
 ('NASA (CCP)', 12500),
 ('NASA (COTS)', 525),
 ('NASA (COTS) NRO', 0),
 ('NASA (CRS)', 45596),
 ('NASA (CRS), Kacific 1', 2617),
 ('NASA (CTS)', 12050),
 ('NASA (LSP)', 362),
 ('NASA (LSP) NOAA CNES', 553),
 ('NASA / NOAA / ESA / EUMETSAT', 1192)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [35]:
%%sql SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) as 'AVG Payload Mass(Kgs)'
FROM SPACEXTBL
WHERE Booster_Version LIKE 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

In [39]:
%%sql SELECT AVG(PAYLOAD_MASS__KG_) as 'Payload Mass Kgs', Customer, Booster_Version 
FROM 'SPACEXTBL' 
WHERE Booster_Version LIKE 'F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665, 'MDA', 'F9 v1.1  B1003')]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [41]:
%%sql SELECT MIN(Date) 
FROM 'SPACEXTBL' 
WHERE Landing_Outcome LIKE 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [73]:
%%sql SELECT Booster_Version, PAYLOAD_MASS__KG_
FROM SPACEXTBL
WHERE Landing_Outcome LIKE 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

In [74]:
%%sql SELECT DISTINCT Booster_Version, PAYLOAD_MASS__KG_
FROM SPACEXTBL
WHERE Landing_Outcome LIKE 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ > 4000
AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [82]:
%%sql SELECT Mission_Outcome, count(Mission_Outcome)
FROM SPACEXTBL
Group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [86]:
%%sql SELECT Booster_Version, Payload, PAYLOAD_MASS__KG_
FROM SPACEXTBL 
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600),
 ('F9 B5 B1049.4', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600),
 ('F9 B5 B1051.3', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600),
 ('F9 B5 B1056.4', 'Starlink 4 v1.0, SpaceX CRS-20', 15600),
 ('F9 B5 B1048.5', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600),
 ('F9 B5 B1051.4', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600),
 ('F9 B5 B1049.5', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600),
 ('F9 B5 B1060.2 ', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600),
 ('F9 B5 B1058.3 ', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600),
 ('F9 B5 B1051.6', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600),
 ('F9 B5 B1060.3', 'Starlink 14 v1.0, GPS III-04  ', 15600),
 ('F9 B5 B1049.7 ', 'Starlink 15 v1.0, SpaceX CRS-21', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [98]:
%%sql SELECT substr(Date,0,5), substr(Date, 6, 2), Booster_Version, Launch_Site, Payload, PAYLOAD_MASS__KG_, Mission_Outcome, Landing_Outcome 
FROM SPACEXTBL 
WHERE substr(Date,0,5)='2015' AND Landing_Outcome = 'Failure (drone ship)';

 * sqlite:///my_data1.db
Done.

[('2015', '01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'Success', 'Failure (drone ship)'),
 ('2015', '04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'Success', 'Failure (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [108]:
%%sql SELECT * 
FROM SPACEXTBL 
WHERE Landing_Outcome LIKE 'Success%' AND (Date BETWEEN '2010-06-05' AND '2017-03-20') ORDER BY Date DESC;

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-01-14', '17:54:00', 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)'),
 ('2016-08-14', '5:26:00', 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-07-18', '4:45:00', 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2016-05-27', '21:39:00', 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)'),
 ('2016-05-06', '5:21:00', 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-04-08', '20:43:00', 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 ('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>